/*imagem do h1 e h2*/
img{
    height: 80px;
}
/*imagem lixeira*/
.bin{
    height: 20px; 
}

/*div class titulos h1 e h2*/
.container{
    display: flex;
    align-items: center;
}

.legend{
    display: flex;
    align-items: center;
    left: 50%;
    font-style: bold;
    font-family: "Segoe UI", "Arial";
}

 #grad, #grad2{
                height: auto;
                background-color: rgba(95, 216, 229, 0.89); /* For browsers that do not support gradients */
                background-image: linear-gradient(to bottom right, #c0c0c0, transparent);
                border-radius: 30px;
}  
body{
                background-position:center;
                background-image: url(../img/FundoWallpaper04.jpg);
                position: relative;
                height: 100vh;
                width: 100vw;
                /* adicionando imagem de fundo */
                background-size: cover;
}

