<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>Filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/Protegido/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AutorizacaoFilterPublic</filter-name>
        <filter-class>Filter.AutorizacaoFilterPublic</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilterPublic</filter-name>
        <url-pattern>/Publico/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>Servlet.Produto.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirImagem</servlet-name>
        <servlet-class>Servlet.Produto.ExcluirImagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProdutos</servlet-name>
        <servlet-class>Servlet.Produto.ConsultaProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagemServlet</servlet-name>
        <servlet-class>Servlet.Produto.ImagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPadrao</servlet-name>
        <servlet-class>Servlet.Produto.AlterarPadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProdutosCards</servlet-name>
        <servlet-class>Servlet.Produto.ConsultaProdutosCards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdCards</servlet-name>
        <servlet-class>Servlet.Produto.PesquisaProdCards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutBackoffice</servlet-name>
        <servlet-class>Servlet.Usuario.LogoutBackoffice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>Servlet.Usuario.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuarios</servlet-name>
        <servlet-class>Servlet.Usuario.ConsultaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarUsuario</servlet-name>
        <servlet-class>Servlet.Usuario.InativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>Servlet.Usuario.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCliente</servlet-name>
        <servlet-class>Servlet.Usuario.LogoutCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalhesProdutoBackoffice</servlet-name>
        <servlet-class>Servlet.Produto.DetalhesProdutoBackoffice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>Servlet.Cliente.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>Servlet.Cliente.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEndereco</servlet-name>
        <servlet-class>Servlet.Cliente.CadastrarEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarEndereco</servlet-name>
        <servlet-class>Servlet.Cliente.InativarEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnderecoPadrao</servlet-name>
        <servlet-class>Servlet.Cliente.EnderecoPadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduto</servlet-name>
        <servlet-class>Servlet.Carrinho.AddProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProdutoDeslogado</servlet-name>
        <servlet-class>Servlet.Carrinho.AddProdutoDeslogado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirItem</servlet-name>
        <servlet-class>Servlet.Carrinho.ExcluirItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttQtd</servlet-name>
        <servlet-class>Servlet.Carrinho.AttQtd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutEndereco</servlet-name>
        <servlet-class>Servlet.Cliente.CheckoutEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEndereco</servlet-name>
        <servlet-class>Servlet.Checkout.AddEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPagamento</servlet-name>
        <servlet-class>Servlet.Checkout.AddPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartao</servlet-name>
        <servlet-class>Servlet.Checkout.AddCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizaCheckout</servlet-name>
        <servlet-class>Servlet.Checkout.FinalizaCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttQtdCartao</servlet-name>
        <servlet-class>Servlet.Checkout.AttQtdCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttFrete</servlet-name>
        <servlet-class>Servlet.Checkout.AttFrete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttQtdItem</servlet-name>
        <servlet-class>Servlet.Checkout.AttQtdItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirItemCheckout</servlet-name>
        <servlet-class>Servlet.Checkout.ExcluirItemCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcompanharPedido</servlet-name>
        <servlet-class>Servlet.Pedido.AcompanharPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>Servlet.Produto.AlterarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/alterar-produto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InativarProduto</servlet-name>
        <servlet-class>Servlet.Produto.InativarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InativarProduto</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/inativar-produto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetalhesProduto</servlet-name>
        <servlet-class>Servlet.Produto.DetalhesProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.Usuario.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetalhesProduto</servlet-name>
        <url-pattern>/Publico/detalhes-produto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisarProduto</servlet-name>
        <servlet-class>Servlet.Produto.PesquisarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarProduto</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/PesquisarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirImagem</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/excluir-imagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProdutos</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/consulta-produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagemServlet</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/ImagemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPadrao</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/AlterarPadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProdutosCards</servlet-name>
        <url-pattern>/Publico/landing-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdCards</servlet-name>
        <url-pattern>/Publico/pesquisa-produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Publico/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutBackoffice</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/LogoutBackoffice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/Protegido/Admin/cadastrar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuarios</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/consulta-usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarUsuario</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/inativar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/alterar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutCliente</servlet-name>
        <url-pattern>/Publico/LogoutCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalhesProdutoBackoffice</servlet-name>
        <url-pattern>/Protegido/Admin_Estoquista/DetalhesProdutoBackoffice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/Publico/cadastro-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/Protegido/Cliente/alterar-cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEndereco</servlet-name>
        <url-pattern>/Protegido/Cliente/cadastrar-endereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarEndereco</servlet-name>
        <url-pattern>/Protegido/Cliente/inativar-endereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnderecoPadrao</servlet-name>
        <url-pattern>/Protegido/Cliente/endereco-padrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduto</servlet-name>
        <url-pattern>/Publico/add-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProdutoDeslogado</servlet-name>
        <url-pattern>/Publico/add-produto-deslogado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirItem</servlet-name>
        <url-pattern>/Publico/remover-item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttQtd</servlet-name>
        <url-pattern>/Publico/att-qtd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutEndereco</servlet-name>
        <url-pattern>/Publico/checkout-endereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEndereco</servlet-name>
        <url-pattern>/Publico/add-endereco-checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPagamento</servlet-name>
        <url-pattern>/Protegido/Cliente/add-pagamento-checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartao</servlet-name>
        <url-pattern>/Protegido/Cliente/add-cartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizaCheckout</servlet-name>
        <url-pattern>/Protegido/Cliente/finaliza-checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttQtdCartao</servlet-name>
        <url-pattern>/Protegido/Cliente/att-qtd-cartao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttFrete</servlet-name>
        <url-pattern>/Protegido/Cliente/att-frete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttQtdItem</servlet-name>
        <url-pattern>/Protegido/Cliente/att-qtd-item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirItemCheckout</servlet-name>
        <url-pattern>/Protegido/Cliente/excluir-item-checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcompanharPedido</servlet-name>
        <url-pattern>/Protegido/Cliente/acompanhar-pedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
